body {
    background-color: #eee;
}

.play-area {
    width: 45vh;
    margin: auto;
}

.grid {
    font-size: 0;
    text-align: center;
    margin: 3rem 0;
}

.grid__position {
    position: relative;
    display: inline-block;
    width: 30%;
    padding-bottom: 30%;
}

.grid--end .grid__position {
    background-color: #fff;
}

/*
.grid__position--allowed {
    background-color: #eee;
}
*/

.grid--end .grid__position--dropping {
    background-color: #ddd;
}

.tile {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    border: 6.8vh solid;
    border-color: blue yellow green red;
}
